#dataSheetForm{
  width: 120px;
  position: absolute;
  top: 60px;
  left: 20px;
  /* display: none; */
}

#resistance-input{
  margin-left: 6px;
}

#data-submit{
  margin: 20px 0 0 50px;
}

.data-form{
  margin-top: 10px;
}

.data-input{
  margin-left: 26px;
  width: 25px;
}

.data-label{
  font-family: sans-serif;
  font-size: 13px;
}

.solve-button{
  margin-left: 600px;
}
