body{
  background-color: #fff;
}

h1{
  font-family: sans-serif;
  display: inline-block;
}

button{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#dataSheetForm{
  width: 120px;
  position: absolute;
  top: 60px;
  left: 20px;
  /* display: none; */
}

#resistance-input{
  margin-left: 6px;
}

#data-submit{
  padding: 7px 16px;
  margin: 20px 0 0 55px;
  background-color: grey;
}

#data-submit:hover{
  padding: 7px 16px;
  margin: 20px 0 0 55px;
  background-color: #666;
}

.data-form{
  margin-top: 10px;
}

.data-input{
  margin-left: 26px;
  width: 25px;
}

.data-label{
  font-family: sans-serif;
  font-size: 13px;
}

.solve-button{
  margin-left: 0px;
  background-color: rgb(255,128,128);
}

.solve-button:hover{
  margin-left: 0px;
  background-color: rgb(228,128,128);
}

.darkMode-button{
  background-color: #555555;
}

.darkMode-button:hover{
  color: black;
  background-color: #a7a7a7;
}


.lightMode-button{
  color: black;
  background-color: #eee;
}

.lightMode-button:hover{
  color: white;
  background-color: #aaaaaa;
}

.save-button{
  margin-left: 575px;
  background-color: #4ca;
}

.save-button:hover{
  margin-left: 575px;
  background-color: #3b9;
}

.save-link{
  background-color: #4ca;
}

.save-link:hover{
  background-color: #3b9;
}

.download-button{
  position: relative;
  top: -50px;
  margin: 0;
  background-color: #4ca;
}

.download-button:hover{
  position: relative;
  top: -50px;
  margin: 0;
  background-color: #3b9;
}

.save-div{
  display: inline-block;
  margin-top: 16px;
  width: 30%;
  height: 1200px;
  padding-left: 10px;
  background-color: #ddffdd;
}
